<?xml version="1.0"?>
<model>
  <name>SMORES_Sensor_Testbed</name>
  <version>4.0</version>
  <sdf version='1.4'>SMORE.sdf</sdf>

  <author>
   <name>Adam Trofa</name>
   <email>amt225@cornell.edu</email>
  </author>

  <description>
    Testing out sensor models for SMORES
  </description>
</model>
